<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>About Pycho-Bot</title>
 </head>
 <body><center><body style="background-color:powderblue;">
   {% block content %}
     <h1>Self-centrism</h1>
   <p>A very common thought pattern of people who struggle with depression is the self-centrism. A lot of them lack contact from other people and most of them have trouble building or keeping meaningful connections to someone other than themselves. This can be measured by counting the pronouns and the mentioning of their own name</p>
   {% endblock %}
 </center>
 </body>
</html>