<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>About Pycho-Bot</title>
 </head>
 <body><center><body style="background-color:powderblue;">
   {% block content %}
     <h1>Absolutism</h1>
   <p>There's empirical evidence that the more extreme thinking of depressed people can be measured by calculating how many absolute words have been used. Al-Mosaiwi even suggests that the above average presence absolute words is higher indicator of depression than the excessive usage of negative words. Usually depressed people are interpreting their experiences either in a very positive or a very negative way and that they aren't considereing all the possible greyzones. </p>
   {% endblock %}
 </body></body>
</html>
