<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>About Pycho-Bot</title>
 </head>
 <body><center><body style="background-color:powderblue;">
   {% block content %}
     <h1>Swear Word Usage</h1>
   <p> Linguistically, swear words can be used to empower absolute words (e.g. saying "fucking terrible" instead of "absolutely terrible").  This makes us able to measure extreme thinking which is a common thought patter of depressed people</p>
   {% endblock %}
 </center></body>
</html>